# Entorno virtual
entornoClima/

# Jupyter y pycache
__pycache__/
.ipynb_checkpoints/

# Data y modelos pesados
data/01_raw/
data/02_intermediate/
data/03_primary/
data/04_feature/
data/05_model_input/
data/06_models/
data/07_model_output/
data/08_reporting/

# Otros posibles
*.log
*.pyc
.DS_Store
.env

